@page
@model LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    <main>
        <div class="wrapper">
            <h1>@ViewData["Title"]</h1>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Email or username" required />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Password" required />
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <button type="submit">Log In</button>
            </form>

            <div class="additional-links">
                <p><a asp-page="./ForgotPassword">Forgot your password?</a></p>
                <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
                <p><a asp-page="./ResendEmailConfirmation">Resend email confirmation</a></p>
            </div>

            <div class="external">
                <h3>Use another service to log in:</h3>
                <ul>
                    @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <li>No external services configured.</li>
                    }
                    else
                    {
                        foreach (var provider in Model.ExternalLogins)
                        {
                            <li><button type="submit" class="btn btn-primary" name="provider" value="@provider.Name">@provider.DisplayName</button></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </main>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
