@model LiteratureProject.Core.Models.BulgarianModels.DeckDisplayModel

@{
    ViewData["Title"] = "My Deck";
}

<h1>@Model.Name</h1>

<div>
    <p><strong>Created By:</strong> @Model.CreatedBy</p>
    <p><strong>Topic:</strong> @Model.Topic</p>

    <form asp-action="ProblemsWithDeckId" asp-route-id ="@Model.Id" asp-controller="Bulgaria" method="get">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">View All Problems</button>
    </form>

</div>